body {
    box-sizing: border-box;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f5f5f5 !important;
}

#nav-list {
    letter-spacing: 1px;
    color: red;
}

#navbarSupportedContent-4 {
    margin-right: 2cm;
}

#navbarDropdownMenuLink-333 {
    margin-right: 75px;
}

i {
    font-size: 25px;
}

.container {
    padding: 2rem;
}

.bg-white {
    padding-bottom: 2rem;
    background-color: #f5f5f5 !important;
}

#car-busq {
    color: #212529;
}

.primary-color {
    background-color: #212529 !important;
}

.font-weight-bold {
    font-size: 3.0rem;
}

#title-ini {
    top: 30px;
}

img.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar.navbar-inverse {
    border: none;
}

.navbar .navbar-brand {
    padding-top: 0px;
}

.navbar .navbar-brand img {
    height: 50px;
}

#nav-bar {
    padding: 0 1rem;
}

.product-table img {
    max-height: 150px;
    min-width: 50px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#bt-izq {
    position: absolute;
    left: -35px;
    top: 50%;
}

#bt-der {
    position: absolute;
    right: -35px;
    top: 50%;
}


/*  POST SLIDER */

.post-slider {
    position: relative;
    text-align: center;
    margin: 30px auto;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #212529;
    cursor: pointer;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #212529;
    cursor: pointer;
}

.post-slider .post-wrapper {
    width: 90%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    height: 330px;
    width: 300px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 5px;
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.name-container {
    color: inherit;
}

.post-slider .post-wrapper .post .short-description-product {
    /*     padding: 20px 15px 7px; */
    border: 1px solid #cccccc;
    border-radius: 3px;
    text-decoration: none;
    color: inherit !important;
}

.flex-column {
    flex-direction: column !important;
}

.d-flex {
    display: flex !important;
}

.short-description-product .price-container {
    font-weight: bold;
    font-size: 18px;
    padding-top: 60px;
    padding-left: 150px;
    /*     width: 130px;
    height: 26px;
    line-height: 28px;
    padding-right: 13px;
    font-weight: bold;
    font-size: 13px;
    text-transform: none;
    right: 10px;    
    text-align: right; */
}

.short-description-product .description-container {
    color: grey;
    font-size: 12px;
}

#title-car {
    font-weight: 300;
    font-size: 1.7rem;
    position: absolute;
    /*     margin-left: 75px; */
}

.content-card {
    background-color: white;
    border-radius: 3px;
    padding: 15px;
    border: 1px solid #ddd;
}

#title-tos {
    font-weight: 300;
    font-size: 1.7rem;
}

#cont-tos {
    padding-bottom: 230px !important;

}

#nav-flag {
    height: 25px;
}

.nav-item {
    padding-right: 7px;
}

#flag-us {
    height: 25px;
}

.btn .btn-primary {
    background-color: #212529;
}

#title-form {
    font-weight: 300;
    font-size: 1.7rem;
    padding: 2rem;
    padding-left: 0;
}

